.social-icons {
  margin-top: 40px;
}

.social-icons a {
  color: white;
  font-size: 40px;
  margin: 0 15px;
  transition: transform 0.2s ease-in-out;
}

.social-icons a:hover {
  color: #ff6a00; /* rosso fuoco */
  transform: scale(1.2);
}
